<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rglucapstone.activefatherhood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_6"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity"></activity>
        <activity android:name=".activities.SignUpActivity"></activity>
        <activity android:name=".activities.PreferencesActivity"></activity>
        <activity android:name=".activities.HomeActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity android:name=".activities.AskActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".activities.ProfileActivity"></activity>
        <activity android:name=".activities.QuestionActivity"></activity>
        <activity android:name=".activities.AnswerActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".activities.SearchResultsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".activities.AskGuruActivity"></activity>
        <activity android:name=".activities.EditProfileActivity"></activity>
        <activity android:name=".activities.PublicationsGuru"></activity>
        <activity android:name=".activities.PostActivity"></activity>
        <activity android:name=".activities.CommentActivity"></activity>
        <activity android:name=".activities.DoPost"></activity>
        <activity android:name=".activities.CategoriesActivity"></activity>
        <activity android:name=".activities.CategorieItemActivity"></activity>
    </application>

</manifest>
